@import  'https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css';

:root {
  --color-neutral: rgb(250, 250, 250);
  --color-wrong:   rgb(256, 0  , 0  );
  --color-correct: rgb(0  , 256, 0  );
}

/* quiz forms in API UI */

.quiz-form-text-area
{
 display: flex;
 justify-content: center;
 align-items: center;
 resize: none;
 width: 50%;
 height: 35%; 
 padding: 0 15px;
 margin: 10px 0;
 border-radius: 5px;
}

.quiz-form-text-area:focus{
  color: black;
  border-color: black;
  outline: 0;
  box-shadow: 0 0 0 0.35rem rgba(0, 123, 255, 0.25)
}
 
.quiz-form-label 
{
  padding: 0 5px;
  margin: 10px 0;
}

/* new data */

.quiz-form-new-data
{
 display: flex;
 justify-content: center;
 align-items: center;
 resize: none;
 width: 25%;
 height: 35%; 
 padding: 0 15px;
 margin: 10px 0;
 border-radius: 5px;
 font-size: 25px;
 text-align: center;
}

/* quiz design */

.quiz-container
{ 
  padding: 0;
  margin: 0;
  display: flex;
  
  width: 100vw;
  height: 75vh;
  
  justify-content: center;
  align-items: center;
}

.question
{
  font-size: 100px;
  text-align: center;
}

.answer-counter
{
  --color: var(--color-neutral);
  
  
  padding: 0;
  margin: 0;
}

.answer-buttons
{
  display: grid;
  grid-template-columns: repeat(2, auto);
  
  gap: 10px;
  margin: 20px 0;
}

.quiz-btn {
  --color: var(--color-neutral);
  background-color: var(--color);
  height: 8vh;
  width: 20vw;
  border-radius: 5px;
  padding: 5px 10px;
  
  font-size: 35px;
  font-weight: bold;
  
  outline: none;
}

.quiz-logo {
  height: 10vh;
  width: 7vw;
}

.stats-container{
  height: 8vh;
  width: 15vw;
  text-align: center;
  font-size: 30px;
  font-weight: bold;
  
  outline: none;
}
